<div class="input-group">
    {{form_label(form.dating_title) }}
    {{form_errors(form.dating_title) }}
</div>

<div class="input-group">
    <span class="input-group-addon glyphicon glyphicon-user"></span>
    {{form_widget(form.dating_title) }}
</div>

<div class="input-group">
    {{form_label(form.dating_start) }}
    {{form_errors(form.dating_start) }}
</div>

<div class="input-group">
    <span class="input-group-addon glyphicon glyphicon-user"></span>
    {{form_widget(form.dating_start) }}
</div>

<div class="input-group">
    {{form_label(form.dating_end) }}
    {{form_errors(form.dating_end) }}
</div>

<div class="input-group">
    <span class="input-group-addon glyphicon glyphicon-user"></span>
    {{form_widget(form.dating_end) }}
</div>

<div class="input-group">
    {{form_label(form.dating_description) }}
    {{form_errors(form.dating_description) }}
</div>

<div class="input-group">
    <span class="input-group-addon glyphicon glyphicon-user"></span>
    {{form_widget(form.dating_description) }}
</div>

<div class="input-group">
    {{form_label(form.dating_lat) }}
    {{form_errors(form.dating_lat) }}
</div>

<div class="input-group">
    <span class="input-group-addon glyphicon glyphicon-user"></span>
    {{form_widget(form.dating_lat) }}
</div>

<div class="input-group">
    {{form_label(form.dating_lng) }}
    {{form_errors(form.dating_lng) }}
</div>

<div class="input-group">
    <span class="input-group-addon glyphicon glyphicon-user"></span>
    {{form_widget(form.dating_lng) }}
</div>

<div class="input-group">
    {{form_label(form.dating_link_href) }}
    {{form_errors(form.dating_link_href) }}
</div>

<div class="input-group">
    <span class="input-group-addon glyphicon glyphicon-user"></span>
    {{form_widget(form.dating_link_href) }}
</div>

<div class="input-group">
    {{form_label(form.dating_link_title) }}
    {{form_errors(form.dating_link_title) }}
</div>

<div class="input-group">
    <span class="input-group-addon glyphicon glyphicon-user"></span>
    {{form_widget(form.dating_link_title) }}
</div>




